html body{
    background: #f8f8f8;
}
.cur{
    cursor: pointer;
}

.el-date-editor.el-input{
    width: 180px;
}
.router-link-active{
    background: #32a8fd;
    color: #ffffff !important;
}
.red{
    color: red;
}